<div id="summary" style="clear:both">
  <%= page_entries_info @cltn, :entry_name => 'item' %>
</div>  

<table id="cltn" class="cltn" border="0" cellpadding="10" cellspacing="20">
  <thead>
    <% @selected_cols.each do |col| %>
      <th><%=col%></th>
    <% end %>
  </thead>
  <tbody>
    <% @cltn.each do |cltn| %>
      <tr valign="top">
        <% @selected_cols.each do |k| %>
          <td><%= cltn[k] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= will_paginate @cltn, :params => { :url => '/cltn' } %>
</div>      

