<%= partial :crumbs %>

<div id="actions"> 
    <a class="prevPage">&laquo; back</a> 
    <a class="nextPage">more &raquo;</a> 
</div> 

<div class="scrollable vertical">
  <div class="items">      
    <% @db.collection_names.sort{ |a,b| a <=> b }.each do |cltn|%>
      <div class="item" rel="#details" href="/show_cltn/<%=cltn%>">
        <img class="tag" src="/images/mongo.png"/>
        <p><%= cltn %></p>        
        <span><%= @db[cltn].count%> rows</span>        
      </div>
    <% end %>
  </div>
</div>

<div class="overlay" id="details">
  <div class="content"></div>
</div>

<script>
  $( function() {
    
    $("div.item[rel]").overlay( {
      expose: '#434343',
      onBeforeLoad: function() {
        $.ajax( { url: this.getTrigger().attr( 'href' ), dataType:'script', type:'GET' } );
      }
    })
    
    $("div.scrollable").scrollable({ 
        vertical:true,  
        size:    5
    }).mousewheel();
    
    $("div.item").hover( 
      function() { $(this).addClass( "selected" ) }, 
      function() { $(this).removeClass( "selected" ) }
    );
  })
</script>