<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>M O N G O 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>    
    <link rel="stylesheet" href="/stylesheets/mongo3.css" type="text/css" media="screen" />
    <script src="/javascripts/jquery_min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery_ui_min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.tools.min.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>    
    <script src="/javascripts/jit.min.js" type="text/javascript"></script>
  </head>

  <body id="body">
    <div id="overall">
      <div id="logo">
        <a href="/">
          <img src='/images/mongo3.png' style="border:none"/>
        </a>
      </div>      
      <div id="main">
        <%= yield %>
      </div>
    </div>      
  </body>
</html>