<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>M O N G O 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon"/>
    <%= stylesheets %w[mongo3] %>
    <%= javascripts %w[jquery_min jquery_ui_min jquery.tools.min application jit.min jquery.tree.min jquery.tiptip.min] %>
  </head>

  <body id="body">
    <div id="overall">
      <div id="logo">
        <a href="/explore" style="float:left">
          <img id="logo" src='/images/mongo3.png'/>
          <div id="version"><%=Mongo3.version%></div>
        </a>
        <div class="flash"></div>
      </div>      
      <div id="main">
        <%= yield %>
      </div>
    </div>      
  </body>
</html>

<script>
  $( function() {
    $( "[title]").tipTip( {maxWidth:'auto', edgeOffset:5} );
  });
</script>