<% unless @cltn.empty? %>
  <div id="fields">
    <%= partial :'collections/fields_form' %>
  </div>
  
  <div class="table">
    <%= partial :'collections/rows' %>
  </div>
<% else %>
  <div class="no_items">Oh snap! No items found...</span>
<% end %>
