<script src="/javascripts/jquery.example.js" type="text/javascript"></script>
    
<form id="search" onsubmit="search_submit();return false;" action="/collections/search/" method="post" style="text-align:center;margin:10px">
  <fieldset>
    <input id="search" type="text" name="search" class="search" value="<%=@query%>"/>
    <button type="submit" id="submit_button" class="button search" style="display:none">search</button>
    <img id="search_load" src="/images/loading.gif" style="width:25px;height:25px;vertical-align:sub;display:none"></img>
  </fieldset>  
  <fieldset style="">
  </fieldset>
</form>

<script>
 $( function() {
   $('input#search').example("{'name':'franky'} | [['count',-1]]", { className: 'no_input' } );
 });

 function search_submit()
 {
   $.ajax({
     data:       $.param( $("form#search").serializeArray() ),
     dataType:   'script',
     type:       'post',
     url:        '/collections/search/',
     beforeSend: function() { $('img#search_load').show(); },
     complete:   function() { $('img#search_load').hide(); }     
   }); 
 }
</script>
