<div class="borders" style="padding:10px;font-size:0.4em">
  <div id="tree">
    <ul>
    	<li id="phtml_1" class="open"><a href="#"><ins> </ins>Root node 1</a>
    		<ul>
    			<li id="phtml_2"><a href="#"><ins> </ins>Child node 1</a></li>
    			<li id="phtml_3"><a href="#"><ins> </ins>Child node 2</a></li>
    			<li id="phtml_4"><a href="#"><ins> </ins>Some other child node with longer text</a></li>
    		</ul>
    	</li>
    	<li id="phtml_5"><a href="#"><ins> </ins>Root node 2</a></li>
    </ul>
  </div>
</div>

<script>
  $( function() {
  	$('div#tree').tree( { ui: { theme_name: 'apple', theme_path: '/javascripts/themes/apple/style.css'} });
  });
</script>
