<%= zone_locator %>

<div class="cltn">
  <a class="back" href="<%=@back_url%>">&laquo;&nbsp;back</a>
  <div class="title">users</div>  
</div>

<div class="cltn" style="padding:10px;">
  <div id="results">
    <%= partial :'users/results'%>
  </div>
</div>  